:root {
  background-color: #0d0402;
  font-family: 'Plus Jakarta Sans';
}

a {
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}
